
<ion-item-sliding #slidingItem
	[class]="cssClass + ' ' + collapseState"
	(clickOutside)="collapse($event)"
	[attachOutsideOnClick]="collapseState == 'expanded'"
	[exclude]="':not(.collapse-icon)'"
	[ngClass]="setItemClass(item)">

	<button ion-item (click)="itemClicked($event)" [ngClass]="{'clickable' : this.itemClick}">

		<ion-avatar item-start *ngIf="avatar">
      		<img
			  *ngIf="getUrl(avatar).length" 
			  [src]="getUrl(avatar)"/>
		</ion-avatar>

		<ion-thumbnail item-start *ngIf="thumbnail">
      		<img
			  *ngIf="getUrl(thumbnail).length"
			  [src]="getUrl(thumbnail)"/>
		</ion-thumbnail>

		<div item-content>

			<div class="details-wrapper">

				<div *ngIf="itemTitle" class="item-title">
					{{itemTitle}}
				</div>
			
				<item-details
				    *ngIf="!isTextForm(form)"
					[Form]="form"
					[Item]="item"
					[ColumnsOptions]="columnsOptions"
					[inline]="_inline">
				</item-details>

			    <text-form-display
				   *ngIf="isTextForm(form)"
				   [Form]="form">	
			    </text-form-display>

				<button ion-button clear class="collapse-button" *ngIf="collapseState.length" (click)="toggleCollapse($event)">
					<ion-spinner *ngIf="isLoadingSubforms"></ion-spinner>
					<ion-icon
						name="{{collapseState == 'expanded' ? 'ios-arrow-up' : 'ios-arrow-down' }}"
						class="collapse-icon"
						*ngIf="!isLoadingSubforms"
						>
					</ion-icon>
				</button>

			</div>

			<ion-list class="subforms-wrapper" *ngIf="collapseState == 'expanded'" [@subformsInOut]="'in'">
				
				<ion-item *ngFor="let subform of subforms | objToIterable | Filter:hasRows | Sort:sortSubforms"
					class="{{subformCssClass(subform)}}"
					(click)="subformClicked(subform)">

				    <div class="{{'subform-title ' + subform.key}}">
				     	{{subformsOptions[subform.key]?.title || subform.title}}
				    </div>

				    <i item-right class="rows-count"
				    	*ngIf="!isTextForm(subform) && !isOneLine(subform)">
				    	{{getRowsCount(subform)}}
				   	</i>

			     	<ion-icon item-right name="ios-arrow-forward" rtl-flip
			     		*ngIf="subformsOptions[subform.key]?.click">
			     	</ion-icon>

			     	<text-form-display
				     	*ngIf="isTextForm(subform)"
				     	[Form]="subform">	
				    </text-form-display>

				    <item-details
				     	*ngIf="!isTextForm(subform) && isOneLine(subform)"
						[Form]="subform"
						[Item]="subformItem(subform)"
						[ColumnsOptions]="subformsOptions[subform.key]?.columnsOptions">
					</item-details>

				</ion-item>

			</ion-list>

		</div>

	</button>

	<ion-item-options side="right" dir="ltr" *ngIf="rightButtons.length != 0">
	  <button
	  	ion-button
	  	*ngFor="let button of rightButtons"
	  	color="{{button.color}}"
	  	(click)="buttonClicked(slidingItem,button,item)">
	    <ion-icon name="{{button.icon}}"></ion-icon>
	    {{button.text}}
	  </button>
	</ion-item-options>

	<ion-item-options side="left" dir="ltr"  *ngIf="leftButtons.length != 0">
	  <button
	  	ion-button
	  	*ngFor="let button of leftButtons"
	  	color="{{button.color}}"
	  	(click)="buttonClicked(slidingItem,button,item)">
	    <ion-icon name="{{button.icon}}"></ion-icon>
	    {{button.text}}
	  </button>
	</ion-item-options>
	
</ion-item-sliding>
