form-item {
	.item {
		[dir="rtl"] & {
	        padding-right: 16px;
	        padding-left: 0;
	    }

	    &.item-block .item-inner {
	        padding: 0;
	    }

	    .input-wrapper > ion-label {
	        margin: 0;
	        padding: 16px;
	    }
	}
}