$tf/
*/qcfiles/
*/sqlobj*/
sqlbin*/
sqllib*/
bpm/diagrameditor/*obj/
*/oraobj*/
*/tabobj*/
orabin*/
oralib*/
sql/evlog.rc
*/*/obj/
*release/
*debug/
BuildProcessTemplates/
priority_devel.*
priority_devel_next.creator.user.*
include/dbyacc.h
include/dbyacc1.h
include/yacc1.h
sql/evlog.h
sql/MSG00001.bin
sql/manifest.res
sql/yacc.tab.c
util/dbyacc.c_tab.h
util/dbyacc.c_tab.c
iTextSharp.xml
priexec/priword.exp
priexec/priword.lib
include/fsyacc.h
outlook/dlldata.c
outlook/OlPri_i.c
outlook/OlPri_i.h
outlook/OlPri_p.c
priority_devel_next.creator.user
setup/writetbl.c
slmessage/PDFSign/PDFSignDll/PDFSignDll/PDFSignDll.xml
java/.metadata/*
/priority_17_3.creator.user*
*.bak
/my
.metadata
tags
sqlsrvr/
oracle/
webServices/PriOdata/bin/
/syncIISBin.bat
/java/Priority/.settings
java/Priority/src/com/eshbel/priority/Priority.gwt.xml
java/Priority/war/MyIISCopy.bat
java/RemoteSystemsTempFiles
java/Priority/.classpath
java/Priority/.gitignore
java/Priority/.settings/.gitignore
java/Priority/war/.gitignore
*.suo
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/
resources/
src/assets/gwt-unitCache/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
