<div id="menuPopUpList" class={{cssClass}}>
  <ion-list-header *ngIf="title !== undefined" dir="{{dirByLang}}">
    <ion-title>{{title}}</ion-title>
  </ion-list-header>
  <!-- show menu item as list -->
  <ion-list *ngIf="!isButtons;else buttons_list" dir="{{dirByLang}}">
    <ion-item *ngFor="let item of items" (click)="item.click()">
      <ion-label>{{item.text}}</ion-label>
    </ion-item>
  </ion-list>
  <!-- show menu item as buttons + icon -->
  <ng-template #buttons_list>
    <ion-buttons>
      <button ion-button *ngFor="let item of items" (click)="item.click()" outline color="dark" dir="{{dirByLang}}">
          <div>
             <ion-icon name="{{item.icon}}" ></ion-icon>
             <br>
  		       <label>{{item.text}}</label>
          </div>
     </button>
    </ion-buttons>
  </ng-template>
</div>