#menuPopUpList {
    button {
        background-color: transparent;
        &[ion-button=true]
        {
            color:#48c0ee;
            font-size: 15px;
            line-height: 16px;
            -webkit-padding-start: 0;
        }

        p {
            margin: 0 10%;
        }
    }

    ion-list-header
    {
        border-bottom: none;
        text-align: center;
        color: white;
    }

    ion-list
    {
        padding: 0;
        margin: 0;
    }

    .message {
        text-align: center;
        white-space: normal;
        padding-right: 16px;
        padding-left: 16px;
    }

    
    .item-checkbox {
        font-size: 13px;
    }

    [dir="rtl"] {
        ion-checkbox {
            margin-left: -8px;
        } 
    }

    [dir="ltr"] {
        ion-checkbox {
            margin-right: 10px;
        }
    }
}

.popover-md .popover-content {
    width: auto;
}