#menuPopUpList button
{
    // display: inline-block;
    // padding: 15% 0;
    // border-radius: 2px;
    // min-width: 40%;
    // margin: 10% 3%;
    background-color: transparent;
    &[ion-button=true]
    {
        color:#48c0ee;
        font-size: 15px;
    }
}

#menuPopUpList ion-list-header
{
    border-bottom: none;
    text-align: center;
    //background-color: color($colors,primary);
    color: white;
}

#menuPopUpList button p
{
  margin: 0 10%;
}

.popover-md .popover-content {
    width: auto;
}

#menuPopUpList {
    width: 210px;
    margin-left: -5px;
    ion-list
    {
        padding: 0;
        margin: 0;
    }

    .message {
        text-align: center;
        white-space: normal;
        padding-right: 16px;
        padding-left: 16px;
    }

    
    .item-checkbox {
        font-size: 13px;
    }
    
    
    [dir="rtl"] {
        ion-checkbox {
            margin-left: 10px;
        }
    }

    [dir="ltr"] {
        ion-checkbox {
            margin-right: 10px;
        }
    }


    
    

    // .checkbox-label {
    //     font-size: 13px;
    //     [dir="rtl"] {
    //         margin-left: 12px;
    //     }
    // }
}
