<ion-content id="menuPopUpList" class={{cssClass}}>
  <ion-label *ngIf="message" class="message">{{message}}</ion-label>
  <!--show menu item as list -->
  <ion-list dir="{{dirByLang}}" [attr.no-lines]="display=='nolines'">

    <ion-item *ngFor="let item of items">

      <button *ngIf="item.type!=='checkbox'" 
              [disabled]="item.disabled && item.disabled()" 
              [attr.ion-button]="item.type=='button'"
               clear
              (click)="item.click()">  
                <ion-icon *ngIf="item.icon" name="{{item.icon}}" ></ion-icon>
                {{item.text}}     
      </button>

      <!--checkbox-->
      <ion-label *ngIf="item.type==='checkbox'" class="checkbox-label">{{item.text}}</ion-label>
      <ion-checkbox *ngIf="item.type==='checkbox'" (click)="item.click()"></ion-checkbox>

    </ion-item>
  </ion-list>
</ion-content>