#menuPopUpList button
{
    display: inline-block;
    padding: 15% 0;
    border-radius: 2px;
    min-width: 40%;
    margin: 10% 3%;
}

#menuPopUpList ion-list-header
{
    border-bottom: none;
    text-align: center;
    //background-color: color($colors,primary);
    color: white;
}

#menuPopUpList button p
{
  margin: 0 10%;
}

.popover-md .popover-content {
    width: auto;
}

#menuPopUpList {
    ion-list
    {
        padding: 0;
        margin: 0;
        ion-item
        {
            padding: 0;
            ion-label
            {
                margin: 0 30px;
            }
           
        }
    }
}
