item-details {
	position: relative;
	.column.inline {
		.title {
			vertical-align: middle;
			display: inline;
			color: #ababab;
			font-size: 14px;
			line-height: 14px;
		}

		.title:after {
			content: ':';
		}

		&[dir="rtl"] {
			.title {
				margin-left: 4px;
			}
			.title:after {
				margin-right: -3px;
			}
		}

		&[dir="ltr"] {
			.title {
				margin-right: 4px;
			}
			.title:after {
				margin-left: -3px;
			}
		}
		
		.value {
			vertical-align: middle;
			display: inline;
			color: #ababab;
			font-size: 14px;
			line-height: 14px;
		}

		&:first-of-type {
			.value {
				font-size: 16px;
				line-height: 16px;
				color: #565656;
			}
		}
	}

	.column {
		margin-bottom: 2px;
	}

	.title {
		font-size: 12px;
		line-height: 12px;
		color: #7e7e7e;
	}

	.value {
		color: #ababab;
		font-size: 14px;
		line-height: 14px;
	}

	.column[dir="rtl"] .value[dir="ltr"] {
		text-align: right;
	}

	ion-label {
        margin: 0 !important;
    }

	.icon-wrapper {
		vertical-align: middle;
		width: 20px;
    	display: inline-block;

		+ ion-label {
			display: inline-block;
			vertical-align: middle;
		}
	}

}
