//colors
$dark: #565656;
$gray: #ababab;

item-input {
	.details-input.item-block {
	  margin-bottom: 10px;
	  min-height: 50px;
	  padding: 0 16px;

	  .item-inner {
	    position: relative;
	    padding: 0;
	  }

	  &.item-input-disabled,&.item-toggle-disabled  {
	    ion-label[stacked] {
	      opacity: 0.4;
	    }
	  }

	  ion-label[stacked]
	  {
	    margin: 0;
	    font-size: 13px;
	    color: $gray;
	    line-height: 13px;

	    .error-label
	    {
	        color: red;
	        font-size: 11px;
	        margin: 0;
	        position: absolute;
	        padding: 0 10px;
	    }
	  }

	  &.rtl {
	    text-align: right;
	  }

	  ion-input {
	    width: calc(100% - 20px);
	    align-self: flex-start;
	    position: relative;
	  }

	  ion-input[dir="ltr"] {
	    .text-input {
	      direction: ltr;
	    }
	  }

	  &[dir="rtl"] .text-input {
	    text-align: right;
	  }

	 .text-input {
	    border:none;
	    width: 100%;
	    text-overflow: ellipsis;
	    padding: 0;
	    margin-right: 0;
	    color: $dark;
	    &[disabled] {
	      opacity: 0.3;
	    }
	  }

	  .datetime-label {
	    margin: 0;
	  }


	  button[ion-button][item-right] {
	    margin: 0;
	    padding: 0;
	    position: absolute;
	    top: 22px;
	    
	    &[dir="rtl"] {
	      left: 0;
	    }
	    &[dir="ltr"] {
	      right: 0;
	    }

	    ion-icon {
	      font-size: 23px;
	      color: $dark;
	    }
	    
	    .button-effect {
	      display: none;
	    }
	  }

	  .datetime {
	    ion-ion {
	      color: $dark;
	    }
	    ion-label {
	      color: $dark;
	    }
	  }
	}

	.datetime-disabled
	{
	    opacity: 1 !important;
	}

	.list-md,.list-ios {
	  margin: 0;
	}

	.list > .details-input.item-block:last-child {
	  border-bottom: none;
	  .item-inner {
	    border-bottom: 1px solid #dedede;
	  } 
	}

	.list-ios > .details-input:first-child {
	  border-top: none;
	}

	.details-input {
	  .toggle {
	    position: absolute;
	    top: 15px;
   		// padding: 12px 2px;
	    &.toggle-ios {
	      top: 1px;
	    }
	    &[dir="rtl"] {
	      left: 1px;
	      padding-left: 0;
	    }
	    &[dir="ltr"] {
	      right: 1px;
	      padding-right: 0;
	    }
	  }
	}
}
